<div class="w3-content w3-section" style="max-width: 20em;" data-ng-controller="LoginCtrl" data-ng-class="{'w3-disabled': busy}">
<form class="w3-container">
  <p>
  <input class="w3-input w3-border" type="text" maxlength="256" autofocus data-ng-model="username" id="login-username" required>
  <label class="w3-label">Username</label>
  </p>
  
  <p>
  <input class="w3-input w3-border" type="password" maxlength="256" data-ng-model="password" required>
  <label class="w3-label">Password</label>
  </p>
  
  <p>
  <button class="w3-btn w3-blue w3-hover-none w3-hover-red" data-ng-click="doLogin()">Login</button>
  <span class="w3-text-red w3-padding-small">{{status_message}}</span>
  </p>
</form>
</div>

<footer class="w3-container w3-teal">
  <div class="w3-row">
    <div class="w3-half">
      <h6>gnumpf.tk auth</h6>
    </div>
    <div class="w3-half w3-right-align">
      <h6><a href="#/recover">Forgot your password?</a></h6>
    </div>
  </div>
</footer>
